@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Roboto_400_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/Roboto_400_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/Roboto_400_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/2UX7WLTfW3W8TclTUvlFyQ.woff */
        url(../fonts/Roboto_400_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v16/QHD8zigcbDB8aPfIoaupKOvvDin1pK8aKteLpeZ5c0A.ttf */
        url(../fonts/Roboto_400_normal.svg#Roboto_400_normal) format('svg'); /* http://fonts.gstatic.com/l/font?kit=_YZOZaQ9UBZzaxiLBLcgZg&skey=a0a0114a1dcab3ac&v=v16#Roboto */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    src: url(../fonts/Roboto_500_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/Roboto_500_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/Roboto_500_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUT8E0i7KZn-EPnyo3HZu7kw.woff */
        url(../fonts/Roboto_500_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v16/RxZJdnzeo3R5zSexge8UUSZ2oysoEQEeKwjgmXLRnTc.ttf */
        url(../fonts/Roboto_500_normal.svg#Roboto_500_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/Roboto_700_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/Roboto_700_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/Roboto_700_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOD8E0i7KZn-EPnyo3HZu7kw.woff */
        url(../fonts/Roboto_700_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v16/d-6IYplOFocCacKzxwXSOCZ2oysoEQEeKwjgmXLRnTc.ttf */
        url(../fonts/Roboto_700_normal.svg#Roboto_700_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    src: url(../fonts/Roboto_900_normal.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/Roboto_900_normal.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/Roboto_900_normal.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/mnpfi9pxYH-Go5UiibESIj8E0i7KZn-EPnyo3HZu7kw.woff */
        url(../fonts/Roboto_900_normal.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v16/mnpfi9pxYH-Go5UiibESIiZ2oysoEQEeKwjgmXLRnTc.ttf */
        url(../fonts/Roboto_900_normal.svg#Roboto_900_normal) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: url(../fonts/Roboto_400_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/Roboto_400_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/Roboto_400_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/1pO9eUAp8pSF8VnRTP3xnvesZW2xOQ-xsNqO47m55DA.woff */
        url(../fonts/Roboto_400_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v16/W4wDsBUluyw0tK3tykhXEXYhjbSpvc47ee6xR_80Hnw.ttf */
        url(../fonts/Roboto_400_italic.svg#Roboto_400_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    src: url(../fonts/Roboto_500_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/Roboto_500_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/Roboto_500_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0YbN6UDyHWBl620a-IRfuBk.woff */
        url(../fonts/Roboto_500_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v16/OLffGBTaF0XFOW1gnuHF0SwlidHJgAgmTjOEEzwu1L8.ttf */
        url(../fonts/Roboto_500_italic.svg#Roboto_500_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    src: url(../fonts/Roboto_700_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/Roboto_700_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/Roboto_700_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcC4bN6UDyHWBl620a-IRfuBk.woff */
        url(../fonts/Roboto_700_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v16/t6Nd4cfPRhZP44Q5QAjcCywlidHJgAgmTjOEEzwu1L8.ttf */
        url(../fonts/Roboto_700_italic.svg#Roboto_700_italic) format('svg'); /* {{svg-gf-url}} */
}
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    src: url(../fonts/Roboto_900_italic.eot); /* {{embedded-opentype-gf-url}} */
    src: local('☺'),
        url(../fonts/Roboto_900_italic.eot?#iefix) format('embedded-opentype'), /* {{embedded-opentype-gf-url}} */
        url(../fonts/Roboto_900_italic.woff) format('woff'), /* http://fonts.gstatic.com/s/roboto/v16/bmC0pGMXrhphrZJmniIZpYbN6UDyHWBl620a-IRfuBk.woff */
        url(../fonts/Roboto_900_italic.ttf) format('truetype'), /* http://fonts.gstatic.com/s/roboto/v16/bmC0pGMXrhphrZJmniIZpSwlidHJgAgmTjOEEzwu1L8.ttf */
        url(../fonts/Roboto_900_italic.svg#Roboto_900_italic) format('svg'); /* {{svg-gf-url}} */
}
